<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-wiztivi-cordova-plugin-watchworker" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>WatchWorker</name>
    <js-module name="WatchWorker" src="www/WatchWorker.js">
        <clobbers target="watchworker" />
    </js-module>
    <platform name="ios">
        <!-- Config files -->
        <config-file target="config.xml" parent="/*">
            <feature name="WatchWorker">
                <param name="ios-package" value="WatchWorker" />
            </feature>
        </config-file>
        <!-- Source files -->
        <source-file src="src/ios/core/APIs/Context/ScriptContext.swift" />
        <source-file src="src/ios/core/APIs/Context/ScriptContextGlobal.swift" />
        <source-file src="src/ios/core/APIs/Context/ScriptContextJSExport.swift" />

        <source-file src="src/ios/core/APIs/Delegates/EventTargetDelegate.swift" />
        <source-file src="src/ios/core/APIs/Delegates/JSClassDelegate.swift" />

        <source-file src="src/ios/core/APIs/Events/ErrorEvent.swift" />
        <source-file src="src/ios/core/APIs/Events/ErrorEventInit.swift" />
        <source-file src="src/ios/core/APIs/Events/Event.swift" />
        <source-file src="src/ios/core/APIs/Events/EventInit.swift" />
        <source-file src="src/ios/core/APIs/Events/EventListener.swift" />
        <source-file src="src/ios/core/APIs/Events/EventListenerOptions.swift" />
        <source-file src="src/ios/core/APIs/Events/EventTarget.swift" />
        <source-file src="src/ios/core/APIs/Events/MessageEvent.swift" />
        <source-file src="src/ios/core/APIs/Events/MessageEventInit.swift" />

        <source-file src="src/ios/core/APIs/Message/MessageChannel.swift" />
        <source-file src="src/ios/core/APIs/Message/MessagePort.swift" />

        <source-file src="src/ios/core/APIs/Web/HttpRequestImpl.swift" />

        <source-file src="src/ios/core/APIs/Window/WindowTimers.swift" />

        <source-file src="src/ios/core/APIs/Workers/AbstractWorker.swift" />
        <source-file src="src/ios/core/APIs/Workers/WorkerGlobalScope.swift" />
        <source-file src="src/ios/core/APIs/Workers/SharedWatchWorker.swift" />
        <source-file src="src/ios/core/APIs/Workers/SharedWatchWorkerGlobalScope.swift" />
        <source-file src="src/ios/core/APIs/Workers/SharedWorker.swift" />
        <source-file src="src/ios/core/APIs/Workers/SharedWorkerGlobalScope.swift" />

        <source-file src="src/ios/core/Constants/Keys.swift" />

        <source-file src="src/ios/core/Services/WCMessageService.swift" />

        <source-file src="src/ios/core/Utilities/Sequences/Queue.swift" />
        <source-file src="src/ios/core/Utilities/Sequences/Stack.swift" />
        <source-file src="src/ios/core/Utilities/SwiftyJSON/SwiftyJSON.swift" />
        <source-file src="src/ios/core/Utilities/SwiftyJSON/SwiftyJSONExtension.swift" />

        <source-file src="src/ios/WatchWorker.swift" />
        <!-- Resource files -->
        <resource-file src="www/core/Polyfills/DOM/Document.js" />
        <resource-file src="www/core/Polyfills/DOM/DOMAPIs.js" />
        <resource-file src="www/core/Polyfills/DOM/DOMTokenList.js" />
        <resource-file src="www/core/Polyfills/DOM/Element.js" />
        <resource-file src="www/core/Polyfills/DOM/HTMLDocument.js" />
        <resource-file src="www/core/Polyfills/DOM/HTMLElement.js" />
        <resource-file src="www/core/Polyfills/DOM/Window.js" />
        <resource-file src="www/core/Polyfills/Events/ErrorEvent.js" />
        <resource-file src="www/core/Polyfills/Events/Event.js" />
        <resource-file src="www/core/Polyfills/Events/EventAPIs.js" />
        <resource-file src="www/core/Polyfills/Events/EventTarget.js" />
        <resource-file src="www/core/Polyfills/Events/MessageEvent.js" />
        <resource-file src="www/core/Polyfills/Message/MessageAPIs.js" />
        <resource-file src="www/core/Polyfills/Message/MessageChannel.js" />
        <resource-file src="www/core/Polyfills/Message/MessagePort.js" />
        <resource-file src="www/core/Polyfills/Others/es6-promise.js" />
        <resource-file src="www/core/Polyfills/Others/OtherPolyfills.js" />
        <resource-file src="www/core/Polyfills/Others/XMLHttpRequest.js" />
        <resource-file src="www/core/Polyfills/Workers/SharedWatchWorker.js" />
        <resource-file src="www/core/Polyfills/Workers/SharedWorker.js" />
        <resource-file src="www/core/Polyfills/Workers/WorkerAPIs.js" />
        <resource-file src="www/core/Polyfills/Polyfills.js" />

        <resource-file src="www/core/Tests/SharedWatchWorkerTester.js" />
        <resource-file src="www/core/Tests/SharedWorkerTester.js" />

        <resource-file src="www/core/Utilities/Sequences/Sequence.js" />
        <resource-file src="www/core/Utilities/Utilities.js" />

        <resource-file src="www/core/JSClassDelegate.js" />
        <!-- Dependencies -->
        <dependency id="cordova-plugin-add-swift-support" version="1.3.1"/>
    </platform>
</plugin>
